#header-top-day{
 color:rgb(244, 193, 40);
 background: rgb(232, 32, 43);
}
.text-menue{
    color:rgb(3, 3, 3);
}
#main-weekly{
    color: rgb(232, 32, 43);
    margin:auto;
}
#cardbody{
    background:rgb(244, 193, 40);
}