#main-nav-cont{
    background-image: url("./top\ backgroundd.gif");
}
#loginouter{
  padding-left: 90%;
  width:25%;
  height:40%;
}
#top-banner{
    width: 100%;
    height:120px;
}
#top-banner>img{
    height:100%;
    width: 100%;
}
#logoouter{
    margin-bottom: 100px;
    width: 25%;
    height:45%;
}
#loginbtn{
    margin: 5px;
    color: wheat;
    background-color: rgb(9, 0, 39);
    padding: 5px;
    border-radius: 7px;
}
#loginbtn:hover{
    cursor: pointer;
    color: red;  
    background: rgb(255, 255, 38);                                                       
}
#main-navboot{
    display: flex;
    justify-content: space-around;
}
#cont-ntm{
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
#DTWtext{
    height: 90px;
}
@media only screen and (max-width: 400px) {
    #logoouter {
        /* Adjust the size as needed for mobile screens */
        width: 45%;
        height:50%;
    }
    #top-banner{
        height:75px
    }
    /* #loginouter{
         
    } */
    /* #cart-btns-cont{

    } */
    #main-navboot{
        display: flex;
        justify-content: space-between;
    }
    #cont-ntm{
        display: flex;
        justify-content: space-between;
    }
    #DTWtext{
        
    }
}